@model IEnumerable<QuanLiCuaHang.Areas.Manager.Data.LOAIDV>
<div class="card mb-4">

    <div class="card-header"><b>DANH SÁCH LOẠI DỊCH VỤ</b></div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-none" id="" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã loại dịch vụ</th>
                        <th>Tên loại dịch vụ</th>
                        <th>Đơn giá</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaLoaiDV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenLoaiDV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DonGiaDV)
                            </td>
                     
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>