<!DOCTYPE html>
<head>
    <title>Quản lý thông tin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="~/Assets/Manager/layout/css/bootstrap.min.css">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="~/Assets/Manager/layout/css/style.css" rel='stylesheet' type='text/css' /> 
    <link href="~/Assets/Manager/layout/css/style-responsive.css" rel="stylesheet" />
    <!-- font CSS -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/Assets/Manager/layout/css/font.css" type="text/css" />
    <link href="~/Assets/Manager/layout/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Manager/layout/css/morris.css" type="text/css" />
    <!-- calendar -->
    <link rel="stylesheet" href="~/Assets/Manager/layout/css/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="~/Assets/Manager/layout/js/jquery2.0.3.min.js"></script>
    <script src="~/Assets/Manager/layout/js/raphael-min.js"></script>
    <script src="~/Assets/Manager/layout/js/morris.js"></script>

    <!-- meta-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/Assets/Manager/dist/css/styles.css" rel="stylesheet" />
    @*<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>*@
</head>
<body>
    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">
                <a style="font-size: 1.4em" href="index.html" class="logo">
                    BẢNG ĐIỀU KHIỂN
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">

            </div>
            <div class="top-nav clearfix">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a style="padding: 10px;" data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="username"> <i class="fa fa-user"></i> Nhóm 1</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <li><a href="#"><i class=" fa fa-suitcase"></i>Hoạt động</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i>Cài đặt</a></li>
                            <li><a href="login.html"><i class="fa fa-key"></i>Đăng xuất</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->

                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <div style="background-color: white;" class="leftside-navigation">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li>
                            <a class="active" href="/Manager/Home/Index">
                                <i style="color: rgb(11,167,17);" class="fa fa-dashboard"></i>
                                <span style="color: black;">Trang chủ</span>
                            </a>
                        </li>

                        <li class="sub-menu">
                            <a>
                                <i style="color: rgb(11,167,17);" class="fa fa-table"></i>
                                <span style="color: black;">Sản phẩm</span>
                            </a>
                            <ul class="sub">
                                <li><a style="color: black;" href="/Manager/SanPham/Create">Sản phẩm</a></li>
                                <li><a style="color: black;" href="/Manager/LoaiSP/Create">Loại sản phẩm</a></li>
                                <li><a style="color: black;" href="/Manager/DonViTinh/Create">Đơn vị tính</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="fontawesome.html">
                                <i style="color: rgb(11,167,17);" class="fa fa-bullhorn"></i>
                                <span style="color: black;">Loại dịch vụ</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i style="color: rgb(11,167,17);" class="fa fa-user"></i>
                                <span style="color: black;">Nhà cung cấp</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a>
                                <i style="color: rgb(11,167,17);" class="fa fa-tasks"></i>
                                <span style="color: black;">Lập phiếu</span>
                            </a>
                            <ul class="sub">
                                <li><a style="color: black;" href="/Manager/CT_PhieuBanHang/Create">Phiếu bán hàng</a></li>
                                <li><a style="color: black;" href="/Manager/CT_PhieuMuaHang/Create">Phiếu mua hàng</a></li>
                                <li><a style="color: black;" href="/Manager/CT_PhieuDichVu/Create">Phiếu dịch vụ</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i style="color: rgb(11,167,17);" class="fa fa-search"></i>
                                <span style="color: black;">Tra cứu </span>
                            </a>
                            <ul class="sub">
                                <li><a style="color: black;" href="#">Hóa đơn bán</a></li>
                                <li><a style="color: black;" href="#">Hóa đơn mua</a></li>
                                <li><a style="color: black;" href="#">Dịch vụ</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu" >
                            <a href="/Manager/BCTonKho/Index">
                                <i style="color: rgb(11,167,17);" class=" fa fa-bar-chart-o"></i>
                                <span style="color: black;">Báo cáo tồn kho</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i style="color: rgb(11,167,17);" class="fa fa-cogs"></i>
                                <span style="color: black;">Cài đặt</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <section id="main-content">
            <section class="wrapper">

                @RenderBody()
            </section>
        </section>
    </section>
    <script src="~/Assets/Manager/layout/js/bootstrap.js"></script>
    <script src="~/Assets/Manager/layout/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Assets/Manager/layout/js/scripts.js"></script>
    <script src="~/Assets/Manager/layout/js/jquery.slimscroll.js"></script>
    <script src="~/Assets/Manager/layout/js/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="~/Assets/Manager/layout/js/jquery.scrollTo.js"></script>
    <!-- morris JavaScript -->


    @* old version *@
    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Assets/Manager/dist/js/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

    <script src="~/Assets/Manager/src/assets/demo/datatables-demo.js"></script>*@

    <script>
        $(document).ready(function () {
            //BOX BUTTON SHOW AND CLOSE
            jQuery('.small-graph-box').hover(function () {
                jQuery(this).find('.box-button').fadeIn('fast');
            }, function () {
                jQuery(this).find('.box-button').fadeOut('fast');
            });
            jQuery('.small-graph-box .box-close').click(function () {
                jQuery(this).closest('.small-graph-box').fadeOut(200);
                return false;
            });

            //CHARTS
            function gd(year, day, month) {
                return new Date(year, month - 1, day).getTime();
            }

            graphArea2 = Morris.Area({
                element: 'hero-area',
                padding: 10,
                behaveLikeLine: true,
                gridEnabled: false,
                gridLineColor: '#dddddd',
                axes: true,
                resize: true,
                smooth: true,
                pointSize: 0,
                lineWidth: 0,
                fillOpacity: 0.85,
                data: [
                    { period: '2017 Q4', iphone: 2668, ipad: null, itouch: 2649 },
                    { period: '2018 Q1', iphone: 15780, ipad: 13799, itouch: 12051 },
                    { period: '2018 Q2', iphone: 12920, ipad: 10975, itouch: 9910 },
                    { period: '2018 Q3', iphone: 8770, ipad: 6600, itouch: 6695 },
                    { period: '2018 Q4', iphone: 10820, ipad: 10924, itouch: 12300 },
                    { period: '2019 Q1', iphone: 9680, ipad: 9010, itouch: 7891 },
                    { period: '2019 Q2', iphone: 4830, ipad: 3805, itouch: 1598 },
                    { period: '2019 Q3', iphone: 15083, ipad: 8977, itouch: 5185 },
                    { period: '2019 Q4', iphone: 10697, ipad: 4470, itouch: 2038 },

                ],
                lineColors: ['#eb6f6f', '#926383', '#eb6f6f'],
                xkey: 'period',
                redraw: true,
                ykeys: ['iphone', 'ipad', 'itouch'],
                labels: ['Tất cả khách hàng', 'Khách hàng cũ', 'Khách hàng mới'],
                pointSize: 2,
                hideHover: 'auto',
                resize: true
            });


        });
    </script>
    <!-- calendar -->
    <script type="text/javascript" src="~/Assets/Manager/layout/js/monthly.js"></script>
    <script type="text/javascript">
        $(window).load(function () {

            $('#mycalendar').monthly({
                mode: 'event',

            });

            $('#mycalendar2').monthly({
                mode: 'picker',
                target: '#mytarget',
                setWidth: '250px',
                startHidden: true,
                showTrigger: '#mytarget',
                stylePast: true,
                disablePast: true
            });
        });
    </script>
    <!-- //calendar -->
</body>

