@model IEnumerable<QuanLiCuaHang.Areas.Manager.Data.NHACUNGCAP>



<div class="card mb-4">
    <div class="card-header"><b>DANH MỤC CÁC NHÀ CUNG CẤP </b></div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-none" id="datatable-editable" width="100" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã nhà cung cấp</th>
                        <th>Tên nhà cung cấp</th>
                        <th>Địa chỉ </th>
                        <th>Số điện thoại </th>

                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {

                        <tr>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.MaNCC)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.TenNCC)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.DiaChi)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>

                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
